<h1>Welcome to My Travel Site</h1>
<p>The world's least factual travel website.</p>

<p><%= @homeland %></p>

<ul>
	<% @countries.each do |country| %>
		<li><%= country %>
	<% end %>
</ul>


<% @country_image_hash.each do |k,v| %>
	<p>
		<%= image_tag v, alt: k, class: "img-responsive" %>
	</p>
<% end %>

<%= link_to "Red" root_path(color:"red"), class: "btn btn-danger" %>
<%= link_to "Blue", root_path(color:"blue"), class: "btn btn-primary" %>

<p>
	<%= link_to "About Us", about_path(color:"green"), class: "btn btn-danger" %>
</p>
<p>
 <%= link_to "Contact Us", contact_path(), class: "btn btn-info" %>
</p>