<% if notice != nil %>
  <div class="alert alert-danger" role="alert">
   <p id="notice"><%= notice %></p>
  </div>
<% end %>

<%= link_to 'New Destination', new_destination_path, class: "btn btn-success" %>

<h1>Places I want to go</h1>

<ul class="nav nav-pills">
  <li><%= link_to "All", destinations_path %></li>
<% @my_countries.each do |dest| %>
  <li><%= link_to dest.country, destinations_path(country: dest.country) %></li>
<% end %>
</ul>

<div class="row"> 
  <% @destinations.each do |destination| %>
  <div class="col-md-4">
    <div id="center-it" class="panel panel-default">
      <div class="panel-heading"><%= "#{destination.city}, #{destination.country}" %></div>
      <div class="panel-body">
        <% if destination.avatar_file_name != nil %>
            <p><%= image_tag destination.avatar.url(:thumb) %></p>
          <% else %>
          <% if destination.avatar_file_name != nil %>
   <%= image_tag destination.avatar.url(:medium), class: "img-responsive" %>
            <p><%= image_tag "missing-dest-image.png" %></p>
            <% end %>
          <% end %>
        <p><%= destination.description[0..150] %>... </p>
        <p><%= link_to "READ MORE", destination %></P>
        <p><%= destination.population %></p>
      </div>

      <div class="panel-footer"><%= link_to 'Show', destination, class: "btn btn-info" %>
      <%= link_to 'Edit', edit_destination_path(destination), class: "btn btn-warning" %>
      <%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></div>
      </div>
    </div>
  <% end %>
</div> 


<%= link_to 'New Destination', new_destination_path, class: "btn btn-success" %>
