<% if notice != nil %>
	<div class="alert alert-success" role="alert">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>

<p>
  <strong>City:</strong>
  <%= @destination.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p>
  <strong>Population:</strong>
  <%= @destination.population %>
</p>

<p>
  <strong>Description:</strong>
  <%= @destination.description %>
</p>

<%= image_tag @destination.avatar.url %><br />
<%= image_tag @destination.avatar.url(:medium) %><br />
<%= image_tag @destination.avatar.url(:thumb) %><br />

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
